@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  --type-first: helvetica, Arial, sans-serif;
  --type-second: 'Spectral', georgia;
  --color-first: #333;
  font-family: var(--type-first);
}

h1, h2, h3, h4 {
  margin:0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: var(-color-first)
}

a{
  text-decoration: none;
  color: var(-color-first)
}

.container{
 max-width: 50rem;
 padding: 0 1rem;
 margin: 0 auto; 
}

.title{
  font-family: var(--type-second); 
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
  color: var(--color-first)
 
 }

